server:
  port: 9000

spring:
  application:
    name: microstore-auth-server
  
  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: auth_user
    password: auth_pass
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: public
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
      probes:
        enabled: true
  health:
    db:
      enabled: true

logging:
  level:
    root: INFO
    dev.riddle.microstore: DEBUG
    org.springframework.security: DEBUG

