spring:
  application:
    name: Microstore Inventory API
  profiles:
    default: dev
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
